@import "reset";
@import "_variables";
@import "_mixins";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", serif;
  padding: 50px;
  letter-spacing: 1px;
  .header {
    margin-bottom: 160px;
    font-size: 54px;
    line-height: 70px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    .wrapper__header {
      @extend %grid;
      font-size: 17px;
      line-height: 40px;
    }
    .class__list {
      @extend %grid;
      border-top: 1px solid black;
      font-size: 30px;
      line-height: 60px;
      padding-top: 15px;
      &:hover {
        cursor: pointer;
        font-style: italic;
      }
    }
  }
  .footer {
    padding: 20px 0;
    .footer__list__content {
      margin: 90px 0;
      gap: 100px;
      font-size: 37px;
      line-height: 50px;
      letter-spacing: 1px;
      span {
        font-size: 17px;
      }
      a {
        color: black;
        &:hover {
          font-style: italic;
        }
      }
    }
  }
}
